<div>
  <button routerLink="/products">Go Back</button></div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <main
    style="display: flex; flex-grow: 1; flex-direction: column"
    class="gap15"
  >
    <div style="width: 100vw; height: 500px">
      <img
        [src]="imageUrl || '/assets/default.jpg'"
        alt="img"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>

    <div>
      <label for="img">Change image</label>
      <input
        type="file"
        id="img"
        name="img"
        accept="image/*"
        (change)="onFileSelected($event)"
        required
        formControlName="file"
      />
    </div>

    <div>
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        placeholder="Change name"
        name="name"
        formControlName="name"
      />
    </div>

    <div>
      <label for="price">Price</label>
      <input
        type="text"
        id="price"
        placeholder="Change price"
        formControlName="price"
        name="price"
      />
    </div>

    <div>
      <label for="desc">Description</label>
      <textarea
        placeholder="Description"
        formControlName="desc"
        id="desc"
        rows="10"
        style="width: 100vw"
      ></textarea>
    </div>

    <div *ngIf="errorMessage" style="color: red; font-weight: bold">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" style="color: green; font-weight: bold">
      {{ successMessage }}
    </div>

    <button type="submit">Add</button>
    <button *ngIf="id" class="danger" (click)="removeProduct()">remove</button>
  </main>
</form>
