<form class="auth flexCol gap10" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <h1 style="margin: 0 auto">{{ receiveName }}</h1>
  <div>
    <label for="email">Email</label>
    <input
      id="email"
      type="text"
      placeholder="email"
      name="email"
      formControlName="email"
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      type="password"
      placeholder="password"
      name="pw"
      formControlName="pw"
    />
    <input
      *ngIf="isRegistering"
      type="password"
      placeholder="confirm password"
      formControlName="pw2"
      style="margin-top: 5px"
    />
    <div *ngIf="passwordMismatch" class="error-message">
      Passwords do not match.
    </div>
  </div>

  <!-- Error message display -->
  <p *ngIf="errorMessage" style="color: red; font-size: 14px; margin-top: 10px">
    {{ errorMessage }}
  </p>

  <button type="submit" [disabled]="authForm.invalid">{{ receiveName }}</button>
  <p>dont have an account? <a [routerLink]="['/register']">Register</a></p>
</form>
