<form class="auth flexCol gap10"  [formGroup]="authForm" (ngSubmit)="onSubmit()" >
  <h1 style="margin: 0 auto">{{ receiveName }}</h1>
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" placeholder="email" name="email" formControlName="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="pw" formControlName="pw" />
    <input
      *ngIf="isRegistering"
      type="password"
      placeholder="confirm password"
      formControlName="pw"
      style="margin-top: 5px"
    />
  </div>
  <button type="submit">
    {{ receiveName }}
  </button>
  <button [routerLink]="[receiveName=='Register'?'/login':'/register']">
    let's goto {{ receiveName == "Register"? "Login":"Register" }}
  </button>
</form>
