<div class="cardContainer">
  <button
    class="editButton"
    [routerLink]="['/products/operation/', product._id]"
    [queryParams]="{
      imageUrl: product.imageUrl,
      name: product.name,
      price: product.price,
      desc: product.desc,
      owner: product.owner
    }"
    *ngIf="isOwner()"
  >
    Edit
  </button>
  <img [src]="product.imageUrl == null ? 'https://picsum.photos/200/300':product.imageUrl " alt="img" style="width: 100%; height: 70%" />
  <div style="display: flex; justify-content: space-between">
    <p style="font-weight: bold">{{ product.name }}</p>
    <p>{{ product.price }}$</p>
  </div>

  <p class="desc">
    {{ product.desc }}
  </p>
</div>
